body{
    padding: 0;
    margin: 0;
    background-color: var(--black);
    color: var(--white);
    font-family: ethnocentric, sans-serif;
    font-style: normal;
    font-family: termina, sans-serif;
    font-style: normal;
}

/*Test*/
.testsquare {
    display: inline-block; /* Ensures the icon behaves like an inline element */
    width: 24px; /* Adjust the width and height as needed */
    height: 24px;;
    background-image: url('/common/assets/TestSquare.png'); /* Path to your icon file */
    background-size: contain; /* Ensures the icon fills the container */}


.nav{
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: var(--black3);
    transition: transform 0.3s ease;
    overflow-y: auto;
    z-index: 1;
}
    .nav-list{
        display: flex;
        flex-direction: column;
        padding: 16px;}
    .nav-list-item{
        font-weight: 900;
        font-size: 36px;
        color: var(--white);
        text-decoration: none;}
    .nav-list-subitem{
        padding-left: 16px;
        font-weight: 500;
        font-size: 24px;
        color: var(--white2);
        text-decoration: none;}

.nav.open{
    transform: translateX(100%);
}


.open-nav{
    padding: 16px;
    background-image: url(/common/assets/TestSquare.png);
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    border: none;}


.header{
    text-align: center;
    padding: 64px;}
    .header-logo{
        position: absolute;
        left: 12px;}
    .header-title{}
        .header-title-title{}
    .header-description{
    }
        .header-description-description{}
    .header-date{}















    



    

































:root{
    /*COLORS*/
    --white: #F9FBFD;
    --white2: #EDEFF1;
    --white3: #E0E3E4;

    --lightgray: #BCBEC0;
    --lightgray2: #B0B2B4;
    --lightgray3: #A3A5A7;

    --gray: #7E8082;
    --gray2: #717376;
    --gray3: #8A8D8F;

    --darkgray: #404244;
    --darkgray2: #595B5C;
    --darkgray3: #4D4E51;

    --black: #020406;
    --black2: #1B1D1F;
    --black3: #0F1112;

    /*IMAGES*/
    --test-image: url(/common/assets/TestSquare.png); 
    /*ANIMATIONS*/
    --animation: 0.3s;
    --test-yellow: #ffd000;

    --border-size: 1px;
}