body{
    padding: 0px;
    margin: 0px;
    background-color: var(--black);
    color: var(--white);
    font-family: ethnocentric, sans-serif;
    font-style: normal;
    font-family: termina, sans-serif;
    font-style: normal;
}

/*Test*/
.testsquare {
    display: inline-block; /* Ensures the icon behaves like an inline element */
    width: 24px; /* Adjust the width and height as needed */
    height: 24px;;
    background-image: url('/common/assets/TestSquare.png'); /* Path to your icon file */
    background-size: contain; /* Ensures the icon fills the container */}

















/*TOP EDIT*/

.container-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 97px;
    height: 100vh;
    display: flex;
    transition: transform 0.3s ease;
    z-index: 1;}
    .container-container.open{
        transform: translateX(100vw);
    }

.nav{
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    overflow-y: auto;}
    .nav-list{
        display: flex;
        flex-direction: column;
        padding: 16px;}
        .nav-list-item{
            font-weight: 900;
            font-size: 36px;
            color: var(--white);
            text-decoration: none;}
        .nav-list-subitem{
            padding-left: 16px;
            font-weight: 500;
            font-size: 24px;
            color: var(--white2);
            text-decoration: none;}

    .nav.open{
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }


.sidebar{
    height: 100vh;
    width: 97px;
    border-right: solid 1px var(--black2); /*TEMPORARY*/
    transition: transform 0.3s ease;
    background-color: var(--black);
}
    .sidebar-container{/*BLUE LINE background-position: right,left,calc(var(--grid-gut-w) + var(--explore_video-deco-spacing-space));*/
        display: flex;
        flex-direction: column;}
        .sidebar-container-top{
            width: 100%;
        /*height: 192px;*/}
        .sidebar-container-center{
            width: 100%;}
        .sidebar-container-bottom{
            width: 100%;
            /*height: 192px;*/}
            .sidebar-container-bottom-right{}


            .sidebar.open{
                transform: translateX(100vw);
                transition: transform 0.3s ease;
            }

/*BOTTOM EDIT*/












/*BOXSHADOW .sidebar:hover{
    box-shadow: 0 0 10px 5px var(--white3);
    transition: box-shadow 0.3s ease;
}*/



.content{
    margin-left: 96px;}

.line{
    position: relative;
    stroke: var(--white);
    stroke-width: 1px;
}

.header{
    text-align: center;
    padding: 64px;}
    .header-logo{
        position: absolute;
        left: 12px;}
    .header-title{}
        .header-title-title{}
    .header-description{
    }
        .header-description-description{}
    .header-date{}


.main{}
    .main-solutions{
        margin-bottom: 64px;}
        .main-solutions-header{
            text-align: center;
            margin-block: 32px;}
            .main-solutions-header-title{}
            .main-solutions-header-description{}
        .main-solutions-main{
            display: flex;
            flex-direction: row;
            gap: 16px;}
            .solutioncard{
                position: relative;
                display: flex;
                flex-direction: column;
                height: 240px;
                width: 240px;
                min-width: 240px;
                font-size: 12px;
                background-color: var(--black3);
                border-radius: 4px;
                border: solid 1px var(--black2);
                clip-path: polygon(100% 0%,100% 224px,224px 100%,0% 100%,0% 0%);}
                .solutioncard::before{
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 32px;
                    background: var(--black2);
                    /*box-shadow: 14px 2px 50px 4px rgba(0,112,202,.79), 2px 2px 12px 1px rgba(0,112,202,.5);*/
                    bottom: 0px;
                    right: 0px;
                    transform: skew(-45deg);
                    /* DEBUGGING z-index: 1;*/}
            .solutioncard-header{
                display: flex;
                flex-direction: column;
                padding: 0px 16px 0px 16px;
            }
                .solutioncard-header-icon{

                }
                .solutioncard-header-title{

                }
            .solutioncard-main{
                padding: 0px 16px 0px 16px;
            }
            .solutioncard-footer{
                padding: 16px 0px 16px 16px;
                margin-top: auto;
            }
            .solutioncard-footer-text{
            }

    .main-projects{}
        .main-projects-header{
            text-align: center;
            margin-block: 32px;}
            .main-projects-header-title{}
            .main-projects-header-description{}
        .main-projects-main{
            display: flex;
            flex-direction: row;
            gap: 16px;
        }
            .projectcard{
                position: relative;
                display: flex;
                flex-direction: column;
                height: 360px;
                width: 240px;
                min-width: 240px;
                font-size: 12px;
                background-color: var(--black3);
                border-radius: 4px;
                border: solid 1px var(--black2);
                clip-path: polygon(100% 0%,100% 328px,208px 100%,0% 100%,0% 0%);}
                .projectcard::before{
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 64px;
                    background: var(--black2);
                    bottom: 0px;
                    right: 0px;
                    transform: skew(-45deg);
                    /* DEBUGGING z-index: 1;*/}
                .projectcard-header{
                    display: flex;
                    flex-direction: column;
                    padding: 0px 16px 0px 16px;}
                .projectcard-main{
                    padding: 0px 16px 0px 16px;}
                .projectcard-footer{
                    padding: 16px 0px 16px 16px;
                    margin-top: auto;}
        




:root{
    --white: #F9FBFD;
    --white2: #EDEFF1;
    --white3: #E0E3E4;

    --lightgray: #BCBEC0;
    --lightgray2: #B0B2B4;
    --lightgray3: #A3A5A7;

    --gray: #7E8082;
    --gray2: #717376;
    --gray3: #8A8D8F;

    --darkgray: #404244;
    --darkgray2: #595B5C;
    --darkgray3: #4D4E51;

    --black: #020406;
    --black2: #1B1D1F;
    --black3: #0F1112;
}