/*Created by ZNGR DYNAMICS*/
/*main.css main stylesheet for ZNGR*/

@import url('typography.css');

body{
    padding: 0px;
    margin: 0px;
    background-color: var(--black);
    color: var(--white);
    font-family: termina, sans-serif;
    font-style: normal;}


/*NAVIGATION*/
.zngr-navigation{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 97px;
    transition: transform var(--anim-nav-duration) ease;
    z-index: 1;}
    .zngr-navigation.open{
        transform: translateX(100vw);}

.nav{
    position: fixed;
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    background-color: var(--black);
    overflow-y: auto;}
    .nav.open{
        transform: translateX(100%);}

        @media only screen and (max-width: 600px) /*Mobile*/ {
            .nav-header{
                display: flex;
                width: 100%;
                background-image: url('../assets/nav-line.svg');
                height: 49px;}
        }
        @media only screen and (min-width: 600px) /*Tablet+*/ {
            .nav-header{
                display: flex;
                width: 100%;
                height: 49px;}
        }
        .nav-header-button{
            background-color: transparent;
            border: none;
            padding: 10px;}
        
    .nav-list{
        display: flex;
        flex-direction: column;
        padding: 16px;}
        .nav-list-item{
            font-weight: 900;
            font-size: 36px;
            color: var(--white);
            text-decoration: none;}
        .nav-list-subitem{
            padding-left: 16px;
            font-weight: 500;
            font-size: 24px;
            color: var(--white2);
            text-decoration: none;}

/*SIDEBAR*/
@media only screen and (max-width: 600px) /*Mobile*/ {
    .sidebar{
        display: flex;
        flex-direction: column;
        clip-path: polygon(0 0, 49px 0px, 49px 33px, 33px 49px, 0px 49px);}
        .sidebar_mobile{
            display: flex;
            position: relative;
            height: 49px;
            width: 49px;
            background-color: var(--black);
            background-image: url('../assets/MobileNav2.svg');
            background-repeat: no-repeat;}
            .sidebar_mobile-icon{
                height: 100%;
                width: 100%;
                background-image: url('../assets/MobileNavIcon.svg');
                background-position: center;
                background-repeat: no-repeat;
                translate: -2px -2px;}
}
@media only screen and (min-width: 600px) /*Tablet+*/ {
    .sidebar{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 97px;
        background-color: var(--black);
        transition: transform var(--anim-nav-duration) ease;
        clip-path: polygon(0 0, 49px 0px, 49px 228px, 97px 264px, 97px calc(100% - 264px), 49px calc(100% - 228px), 49px 100%, 0px 100%);} /*OLD CLIPPATH BEFORE MOVING BOTTOM TO BOTTOM with margin-top: auto || clip-path: polygon(0 0, 49px 0px, 49px 24%, 97px 29%, 97px 61%, 49px 66%, 49px 100%, 0px 100%);*/
            .sidebar-top{
                height: 192px;
                background-image: url('../assets/sidebar-line-top.svg');}
            .sidebar-curve{
                flex: 1;
                min-height: 144px;
                max-height: 144px;
                background-image: url('../assets/sidebar-cline-top.svg');
                background-repeat: no-repeat;}
            .sidebar-center{
                flex: 1 2 auto; /*This property may be edited, as it's just a mess*/
                background-image: url('../assets/sidebar-line-center.svg');}
            .sidebar-curve2{
                flex: 1;
                min-height: 144px;
                max-height: 144px;
                background-image: url('../assets/sidebar-cline-bottom.svg');
                background-repeat: no-repeat;}
            .sidebar-bottom{
                height: 192px;
                background-image: url('../assets/sidebar-line-top.svg');}
        .sidebar.open{
            transform: translateX(100vw);
            transition: transform var(--anim-nav-duration) ease;}
}


/*CONTENT*/
.content{
    margin-left: 96px;}



.header{
    text-align: center;
    padding: 64px;}
    .header-logo{
        position: absolute;
        left: 12px;}
    .header-title{}
        .header-title-title{}
    .header-description{}
        .header-description-description{}
    .header-date{}


.main{}
    .main-solutions{
        margin-bottom: 64px;}
        .main-solutions-header{
            text-align: center;
            margin-block: 32px;}
            .main-solutions-header-title{}
            .main-solutions-header-description{}
        .main-solutions-main{
            display: flex;
            flex-direction: row;
            gap: 16px;}
            .solutioncard{
                display: flex;
                flex-direction: column;
                position: relative;
                height: 240px;
                width: 240px;
                min-width: 240px;
                background-color: var(--black3);
                font-size: 12px;
                border: solid 1px var(--black2);
                border-radius: 4px;
                clip-path: polygon(100% 0%,100% 224px,224px 100%,0% 100%,0% 0%);}
                .solutioncard::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 2px;
                    height: 32px;
                    background: var(--black2);
                    /*box-shadow: 14px 2px 50px 4px rgba(0,112,202,.79), 2px 2px 12px 1px rgba(0,112,202,.5);*/
                    transform: skew(-45deg);}
            .solutioncard-header{
                display: flex;
                flex-direction: column;
                padding: 0 16px 0 16px;
            }
                .solutioncard-header-icon{

                }
                .solutioncard-header-title{

                }
            .solutioncard-main{
                padding: 0 16px 0 16px;
            }
            .solutioncard-footer{
                margin-top: auto;
                padding: 16px 0 16px 16px;
            }
            .solutioncard-footer-text{
            }

    .main-projects{}
        .main-projects-header{
            margin-block: 32px;
            text-align: center;}
            .main-projects-header-title{}
            .main-projects-header-description{}
        .main-projects-main{
            display: flex;
            flex-direction: row;
            gap: 16px;
        }
            .projectcard{
                display: flex;
                flex-direction: column;
                position: relative;
                height: 360px;
                width: 240px;
                min-width: 240px;
                background-color: var(--black3);
                font-size: 12px;
                border: solid 1px var(--black2);
                border-radius: 4px;
                clip-path: polygon(100% 0%,100% 328px,208px 100%,0% 100%,0% 0%);}
                .projectcard::before{
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    height: 64px;
                    width: 2px;
                    background: var(--black2);
                    transform: skew(-45deg);}
                .projectcard-header{
                    display: flex;
                    flex-direction: column;
                    padding: 0 16px 0 16px;}
                .projectcard-main{
                    padding: 0 16px 0 16px;}
                .projectcard-footer{
                    margin-top: auto;
                    padding: 16px 0 16px 16px;}
        




:root{
    --white: #F9FBFD;
    --white2: #EDEFF1;
    --white3: #E0E3E4;

    --lightgray: #BCBEC0;
    --lightgray2: #B0B2B4;
    --lightgray3: #A3A5A7;

    --gray: #7E8082;
    --gray2: #717376;
    --gray3: #8A8D8F;

    --darkgray: #404244;
    --darkgray2: #595B5C;
    --darkgray3: #4D4E51;

    --black: #020406;
    --black2: #1B1D1F;
    --black3: #0F1112;

    --anim-nav-duration: 0.3s;
}