/*DELETE ANY CODE HERE AS SOON AS FUNCTIONALITY IS COMPLETE AND CODE IS NO LONGER IN USE*/

/*
.zngr-menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 100%;
    /*transition: transform var(--anim_duration-slow);
    transition: transform 1.3s cubic-bezier(0.785,0.135,0.15,1.0);
    background-color: var(--black);
    z-index: 99;
    &.open{
        transform: translateX(100vw);
    }
    & .menu-close{
        display: block;
    }
    & .menu-header{
        padding: 16px;
    }
    & .menu-list{
        display: flex;
        flex-direction: column;
        padding-inline: 64px;
        & .menu-list-item{
            text-decoration: none;
            color: var(--white5);
            font-weight: var(--font_weight-heavy);
            font-size: var(--font_size-very-large);
            transition: var(--anim_duration);
            &:hover{
                color: var(--white);
                text-shadow: 0px 0px 2px var(--white5);
            }
        }
        & .menu-list-subitem{
            text-decoration: none;
            color: var(--white5);
            padding-left: 16px;
            font-weight: var(--font_weight-medium);
            font-size: var(--font_size-very-large);
            transition: var(--anim_duration);
            &:hover{
                color: var(--white);
                text-shadow: 0px 0px 2px var(--white5);
            }
        }
    }
    & .menu-contact{
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        padding: 32px;
        & .menu-contact-button{
            border: none;
            color: var(--white);
            &:hover{color:red;}
        }
    }
}*/