@media only screen and (max-width: 1280px){
    .zngr-projects{
        padding-inline: 64px;
    }}
@media only screen and (min-width: 1280px) {
    .zngr-projects{
        & .project-card-big{
            aspect-ratio: inherit;
            min-height: 100vh;
        }    
    }}
@media only screen and (max-width: 768px){
    .zngr-projects{
        padding-inline: 32px;}}
@media only screen and (max-width: 500px){
    .zngr-projects{padding-inline: 16px;}}
