@import url("/src/fonts/font-termina.css");

*{
    box-sizing: border-box;
    background-color: transparent;
    padding: 0;
    margin: 0;
    background-color: var(--black);
    font-family: Termina, 'Source Sans Pro', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;}
    
.nav{
    padding-block: 16px;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    & .nav-button{
        color: white;
        font-weight: 800;
        font-size: var(--font-size_large);
        border: none;
        &:hover{color: blue;}
        &:active{color: green;}}
        & .nav-container{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
}

.zngr-menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: -100vw;
    height: 100%;
    width: 100%;
    transition: transform var(--anim_duration-slow);
    &.open{
        transform: translateX(100vw);
    }
    & .menu-close{
        display: block;
    }
    & .menu-header{
        padding: 16px;
    }
    & .menu-list{
        display: flex;
        flex-direction: column;
        padding-inline: 32px;
        & .menu-list-item{
            text-decoration: none;
            color:white;
            font-weight: var(--font_weight-bold);
            font-size: var(--font_size-large);
        }
        & .menu-list-subitem{
            text-decoration: none;
            color: white;
            padding-left: 8px;
            font-weight: var(--font_weight-light);
            font-size: var(--font_size-big);
        }
    }
    & .menu-contact{
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        padding: 32px;
        & .menu-contact-copyright{
            font-size: var(--font_size-smaller);}
        & .menu-contact-logo{
            font-family: Ethnocentric;
            display: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        & .menu-contact-button{
            border: none;
            color: white;
            &:hover{color:red;}
        }
    }
}

header{
    height: 50vh;
}

.button{
    background-color: transparent;
}

.zngr-projects{
    background: linear-gradient(180deg, var(--black) 0%, var(--black5) 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding-inline: 128px;
    & .project-card, .project-card-big{
        display: flex;
        flex-direction: column;
        aspect-ratio: 656 / 480;
        background-color: var(--black);
        padding: 16px;
        border: none;
        justify-content: flex-end;
        border-radius: 16px;
        cursor: pointer;
        mask-image: none;
        &:hover{
            background-color: var(--black2);
        }
        

        &.project-card-big{
            grid-column: span 2;
            max-height: 100vh;
        }

        & .project-card-container{
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            flex: 1;
            background-color: transparent;
            filter: saturate(.1);
            mask-image: linear-gradient(180deg, var(--black) 0%, transparent 95%);
            mask-size: 100% 100%;
            transition: filter var(--anim_duration-slow) ease;
            & img{
                position: absolute;
                border-radius: 16px;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: translate(-50%, -50%);
            }
        }
        &:hover .project-card-container{
            filter: saturate(1);
            mask-size: 100% 120%;
            transition: filter var(--anim_duration-slow) ease, mask-size var(--anim_duration-slow) ease;
        }
        &:not(:hover) .project-card-container{
            transition: var(--anim_duration-slow) ease;
        }

        & .project-card-info{
            width: 100%;
            background-color: transparent;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            & h2{
                font-size: var(--font_size-regular);
                font-weight: var(--font_weight-demi);
                background-color: transparent;
                color: white;
            }
        }
    }
}/*
.button:hover .button-icon{
    fill: green;
}*/

footer{
    height: 50vh;
}

body.body-modal-open{
    overflow: hidden;
    margin-right: 17px; /*TEMP SCROLLBAR MARGIN*/
}

.modal {
    position: fixed;
    display: flex;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
    align-items: flex-end;
    transform: translateY(100%);
    &.modal-open{
        overflow-y: auto;
        visibility: visible;
        transform: translateY(0%);
    }
}

.modal-container {
    height: 100%;
    width: 100%;
    max-height: calc(100% - 128px);
    /*padding-inline: 32px;*/
    display: flex;
    flex-direction: column;
    transform: translateY(100%);
    transition: max-height var(--anim_duration-slow) ease-in-out, transform var(--anim_duration-slow) ease-in-out;
    &.modal-open{
        transform: translateY(0%);
        transition: max-height var(--anim_duration-slow) ease-in-out, transform var(--anim_duration-slow) ease-in-out;
    }
    & .modal-header{
        display: flex;
        justify-content: space-between;
        padding: 16px;
    }
    & .modal-main{
        display: flex;
        flex-direction: row;
        gap: 32px;
        padding: 16px 16px 0 16px;
        & .modal-main-about{
            display: flex;
            flex: 1;
            flex-direction: column;
            & .modal-main-about-description{

            }
            & .modal-main-about-list{
                display: flex;
                flex-direction: column;
                padding-top: 16px;
                & .modal-main-about-list-item{
                    color: white;
                    list-style: none;
                    padding-bottom: 8px;
                }
            }
        }
        & .modal-main-showcase{
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 32px;

            & .modal-main-showcase-card{
                position: relative;
                width: 100%;
                padding-bottom: calc(480 / 656 * 100%);
                border: none;
                border-radius: 16px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                & img {
                    position: absolute;
                    border-radius: 16px;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

#modal-description{color: white;}
#modal-title{
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    &:focus{
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}


.button-small{
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--gray) 2px solid;
    width: 32px;
    height: 32px;
    border-radius: 128px;
    white-space: nowrap;
    transition: var(--anim_duration);
    background-color: transparent;
    cursor: pointer;
    &:hover{
        background-color: var(--gray);
        transition: var(--anim_duration);
    }
    &:active{
        transform: scale(.97);
        background-color: var(--gray3);
        transition: var(--anim_duration);
    }
    & .button-icon{
        background-color: transparent;
        fill: var(--gray5);
    }
    &:hover .button-icon{
        fill: #BCBEC0;
    }
}

@media only screen and (max-width: 1280px){
    .zngr-projects{
        padding-inline: 64px;
    }
}
@media only screen and (min-width: 1280px) {
    .zngr-projects{
        & .project-card-big{
            aspect-ratio: inherit;
            min-height: 100vh;
        }    
    }
    
}
@media only screen and (max-width: 768px){
    .zngr-projects{
        padding-inline: 32px;}}
@media only screen and (max-width: 500px){
    .zngr-projects{padding-inline: 16px;}
}




:root{
    --black: #020406;
    --black-10: #0204061A;
    --black2: #0A0C0E;
    --black3: #121416;
    --black4: #1A1C1E;
    --black5: #222426;

    --gray: #6E7072;
    --gray2: #76787A;
    --gray3: #7E8082;
    --gray4: #86888A;
    --gray5: #8E9092;

    --white: #F9FBFD;
    --white2: #F1F3F5;
    --white3: #E9EBED;
    --white4: #E1E3E5;
    --white5: #D9DBDD;
    --white-1: #F9FBFD0D;

    --spacing-small: 8px;
    --spacing-regular: 16px;
    --spacing-big: 32px;
    --spacing-large: 64px;

    --font_size-tiny: 8px;
    --font_size-smaller: 10px;
    --font_size-small: 12px;
    --font_size-regular: 16px;
    --font_size-big: 20px;
    --font_size-large: 24px;

    --font_weight-thin: 100;
    --font_weight-extra-light: 200;
    --font_weight-light: 300;
    --font_weight-regular: 400;
    --font_weight-medium: 500;
    --font_weight-demi: 600;
    --font_weight-bold: 700;
    --font_weight-heavy: 800;
    --font_weight-black: 900;

    --anim_duration: .2s;
    --anim_duration-slow: .8s;
}