@import url("/src/fonts/font-termina.css");

*{
    box-sizing: border-box;
    background-color: transparent;
    padding: 0;
    margin: 0;
    background-color: var(--black);
    font-family: Termina, 'Source Sans Pro', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;}





.nav{
    padding-block: 16px;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    & .nav-button{
        color: white;
        font-weight: 800;
        font-size: var(--font-size_large);
        border: none;
        &:hover{color: blue;}
        &:active{color: green;}}
        & .nav-container{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
}

.zngr-menu{
    background-color: red;
    position: fixed;
    display: flex;
    top: 0;
    left: -100vw;
    height: 100%;
    width: 100%;
    &.open{
        transform: translateX(100vw);
    }
}










:root{
    --black: #020406;

    --font-size_small: 12px;
    --font-size_large: 24px;
}