@import url("/src/fonts/font-termina.css");

*{
    box-sizing: border-box;
    background-color: transparent;
    padding: 0;
    margin: 0;
    background-color: var(--black);
    font-family: Termina, 'Source Sans Pro', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;}


.nav{
    padding-block: 16px;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    & .nav-button{
        color: white;
        font-weight: 800;
        font-size: var(--font-size_large);
        border: none;
        &:hover{color: blue;}
        &:active{color: green;}}
        & .nav-container{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
}

.zngr-menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: -100vw;
    height: 100%;
    width: 100%;
    &.open{
        transform: translateX(100vw);
    }
    & .menu-close{
        border: none;
        display: block;
    }
    & .menu-list{
        display: flex;
        flex-direction: column;
        padding-inline: 32px;
        & .menu-list-item{
            text-decoration: none;
            color:white;
            font-weight: var(--font-weight_bold);
            font-size: var(--font-size_large);
        }
        & .menu-list-subitem{
            text-decoration: none;
            color: white;
            padding-left: 8px;
            font-weight: var(--font-weight_light);
            font-size: var(--font-size_big);
        }
    }
    & .menu-contact{
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        padding: 32px;
        & .menu-contact-copyright{
            font-size: var(--font-size_small);}
        & .menu-contact-logo{
            font-family: Ethnocentric;
            display: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        & .menu-contact-button{
            border: none;
            color: white;
            &:hover{color:red;}
        }
    }
}

header{
    height: 50vh;
}

.button{
    background-color: transparent;
}

.zngr-projects{
    background: linear-gradient(180deg, var(--black) 0%, var(--black5) 100%);
    display: flex;
    flex-wrap: wrap;
    padding-inline: 32px;
    gap: 16px;
    & .project-card{
        display: flex;
        flex-direction: column;
        flex: 1;
        aspect-ratio: 656 / 480;
        background-color: var(--black);
        padding: 16px;
        border: none;
        justify-content: flex-end;
        transition: var(--anim-duration);
        border-radius: 16px;
        cursor: pointer;
        &:hover{
            background-color: var(--black2);
        }
        & .project-card-container{
            position: absolute;
            display: flex;
            width: 100%;}
        & .project-card-info{
            width: 100%;
            background-color: transparent;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            & h2{
                font-size: var(--font_size-regular);
                font-weight: var(--font_weight-demi);
                background-color: transparent;
                color: white;
            }
            & .button{
                display: flex;
                justify-content: center;
                align-items: center;
                border: var(--gray) 2px solid;
                width: 32px;
                height: 32px;
                border-radius: 128px;
                white-space: nowrap;
                transition: var(--anim-duration);
                background-color: transparent;
                &:hover{
                    background-color: var(--gray);
                }
                &:active{
                    transform: scale(.97);
                    background-color: var(--gray3);
                }
                
                & *{
                    background-color: transparent;
                }
            }
        }
    }
}

.button .button-icon {
    fill: red;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: red;
    &.open{
        display: block;
        transform: translateY(-100%);
    }
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    &:focus{
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}






:root{
    --black: #020406;
    --black-10: #0204061A;
    --black2: #0A0C0E;
    --black3: #121416;
    --black4: #1A1C1E;
    --black5: #222426;

    --gray: #6E7072;
    --gray2: #76787A;
    --gray3: #7E8082;
    --gray4: #86888A;
    --gray5: #8E9092;

    --white: #F9FBFD;
    --white2: #F1F3F5;
    --white3: #E9EBED;
    --white4: #E1E3E5;
    --white5: #D9DBDD;
    --white-1: #F9FBFD0D;

    --spacing-small: 8px;
    --spacing-regular: 16px;
    --spacing-big: 32px;
    --spacing-large: 64px;

    --font_size-small: 12px;
    --font_size-regular: 16px;
    --font_size-big: 20px;
    --font_size-large: 24px;

    --font_weight-thin: 100;
    --font_weight-extra-light: 200;
    --font_weight-light: 300;
    --font_weight-regular: 400;
    --font_weight-medium: 500;
    --font_weight-demi: 600;
    --font_weight-bold: 700;
    --font_weight-heavy: 800;
    --font_weight-black: 900;

    --anim-duration: 0.2s;
}